@tailwind base;

@tailwind components;

@tailwind utilities;

.designWidth {
  width: calc(100% - 68px);
}

.designWidthMenu {
  width: calc(100% - 284px);
}

.designWidthSection {
  width: calc(100% - 378px);
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e323d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414655;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e323d;
}

html {
  scrollbar-width: none;
}

@layer base {
  @font-face {
    font-family: 'YekanBakhFA';
    font-style: normal;
    font-weight: 200;
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFAThin.eot');
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFAThin.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/YekanBakhFA/woff/YekanBakhFAThin.woff')
      format('woff');
    src: url('../../public/assets/fonts/YekanBakhFA/ttf/YekanBakhFAThin.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'YekanBakhFA';
    font-style: normal;
    font-weight: 300;
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFALight.eot');
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFALight.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/YekanBakhFA/woff/YekanBakhFALight.woff')
      format('woff');
    src: url('../../public/assets/fonts/YekanBakhFA/ttf/YekanBakhFALight.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'YekanBakhFA';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFARegular.eot');
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFARegular.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/YekanBakhFA/woff/YekanBakhFARegular.woff')
      format('woff');
    src: url('../../public/assets/fonts/YekanBakhFA/ttf/YekanBakhFARegular.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'YekanBakhFA';
    font-style: normal;
    font-weight: 500;
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFAMedium.eot');
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFAMedium.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/YekanBakhFA/woff/YekanBakhFAMedium.woff')
      format('woff');
    src: url('../../public/assets/fonts/YekanBakhFA/ttf/YekanBakhFAMedium.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'YekanBakhFA';
    font-style: normal;
    font-weight: 700;
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFABold.eot');
    src: url('../../public/assets/fonts/YekanBakhFA/eot/YekanBakhFABold.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/YekanBakhFA/woff/YekanBakhFABold.woff')
      format('woff');
    src: url('../../public/assets/fonts/YekanBakhFA/ttf/YekanBakhFABold.ttf')
      format('truetype');
  }
  /* add iran sans font */
  @font-face {
    font-family: 'IRANSansFaNum';
    font-style: normal;
    font-weight: 200;
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/IRANSansFa/woff2/IRANSansWeb(FaNum)_UltraLight.woff2')
      format('woff2');
    src: url('../../public/assets/fonts/IRANSansFa/woff/IRANSansWeb(FaNum)_UltraLight.woff')
      format('woff');
    src: url('../../public/assets/fonts/IRANSansFa/ttf/IRANSansWeb(FaNum)_UltraLight.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'IRANSansFaNum';
    font-style: normal;
    font-weight: 300;
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_Light.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/IRANSansFa/woff2/IRANSansWeb(FaNum)_Light.woff2')
      format('woff2');
    src: url('../../public/assets/fonts/IRANSansFa/woff/IRANSansWeb(FaNum)_Light.woff')
      format('woff');
    src: url('../../public/assets/fonts/IRANSansFa/ttf/IRANSansWeb(FaNum)_Light.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'IRANSansFaNum';
    font-style: normal;
    font-weight: 500;
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/IRANSansFa/woff2/IRANSansWeb(FaNum)_Medium.woff2')
      format('woff2');
    src: url('../../public/assets/fonts/IRANSansFa/woff/IRANSansWeb(FaNum)_Medium.woff')
      format('woff');
    src: url('../../public/assets/fonts/IRANSansFa/ttf/IRANSansWeb(FaNum)_Medium.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'IRANSansFaNum';
    font-style: normal;
    font-weight: 700;
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../../public/assets/fonts/IRANSansFa/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix')
      format('embedded-opentype');
    src: url('../../public/assets/fonts/IRANSansFa/woff2/IRANSansWeb(FaNum)_Bold.woff2')
      format('woff2');
    src: url('../../public/assets/fonts/IRANSansFa/woff/IRANSansWeb(FaNum)_Bold.woff')
      format('woff');
    src: url('../../public/assets/fonts/IRANSansFa/ttf/IRANSansWeb(FaNum)_Bold.ttf')
      format('truetype');
  }
}

.sm-li {
  @apply text-white text-xl font-semibold py-2 w-full cursor-pointer;
}

.drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
  padding: 15px 0 15px 0;
}
