@tailwind base;

@tailwind components;

@tailwind utilities;

.designWidth {
  width: calc(100% - 68px);
}
.designWidthMenu {
  width: calc(100% - 284px);
}

.designWidthSection {
  width: calc(100% - 378px);
}

.sm-li {
  @apply text-white text-xl font-semibold py-2 w-full cursor-pointer;
}
